<#import "parts/common.ftl" as c>

<@c.page>
    <h3 align="center">Вход</h3>

    <#if Session?? && Session.SPRING_SECURITY_LAST_EXCEPTION??>
        <div class="alert alert-danger" role="alert">
            ${Session.SPRING_SECURITY_LAST_EXCEPTION.message}
        </div>
    </#if>
        <form method="post">
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="username">Имя пользователя</label>
                <input type="text" name="username" id="username" class="form-control ${(usernameError??)?string('is-invalid', '')}"
                       placeholder="Имя пользователя" />
                <#if usernameError??>
                    <div class="invalid-feedback">
                        ${usernameError}
                    </div>
                </#if>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="password">Пароль</label>
                <input type="password" name="password" id="password" class="form-control ${(passwordError??)?string('is-invalid', '')}"
                       placeholder="Пароль" />
                <#if passwordError??>
                    <div class="invalid-feedback">
                        ${passwordError}
                    </div>
                </#if>
            </div>
        </div>
        <input type="hidden" name="_csrf" value="${_csrf.token}" />
            <a class="btn btn-primary" href="/userEdit">Добавить пользователя</a>
        <button class="btn btn-primary" type="submit">Войти</button>
    </form>
</@c.page>