<#import "parts/common.ftl" as c>

<@c.page>
<h3 align="center">
    Редактирование отпуска
</h3>
<form method = "post">
    <input type="hidden" name="vocationId" value="<#if vocation??>${vocation.getVocationId()} <#else> 0</#if>">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="vocationName">Вид отпуска</label>
            <select class="form-control" name="vocationName" id="vocationName">
                <option <#if vocation??><#if vocation.getVocationName()=="Ежегодный"> selected </#if></#if>>
                    Ежегодный</option>
                <option <#if vocation??><#if vocation.getVocationName()=="Учебный"> selected </#if></#if>>
                    Учебный</option>
                <option <#if vocation??><#if vocation.getVocationName()=="Без сохранения заработной платы"> selected </#if></#if>>
                    Без сохранения заработной платы</option>
                <option <#if vocation??><#if vocation.getVocationName()=="Декретный"> selected </#if></#if>>
                    Декретный</option>
                <option <#if vocation??><#if vocation.getVocationName()=="По уходу за ребенком"> selected </#if></#if>>
                    По уходу за ребенком</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="workPeriodFrom">Начало периода</label>
            <input type="date" class="form-control ${(workPeriodFromError??)?string('is-invalid', '')}"
                   name="workPeriodFrom" id="workPeriodFrom" value="<#if vocation??>${vocation.getWorkPeriodFrom()}</#if>">
            <#if workPeriodFromError??>
                <div class="invalid-feedback">
                    ${workPeriodFromError}
                </div>
            </#if>
        </div>
        <div class="form-group col-md-4">
            <label for="workPeriodUntil">Окончание периода</label>
            <input type="date" class="form-control ${(workPeriodUntilError??)?string('is-invalid', '')}"
                   name="workPeriodUntil" id="workPeriodUntil" value="<#if vocation??>${vocation.getWorkPeriodUntil()}</#if>">
            <#if workPeriodUntilError??>
                <div class="invalid-feedback">
                    ${workPeriodUntilError}
                </div>
            </#if>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="vacationLength">Количество календарных дней отпуска</label>
            <input type="number" class="form-control" name="vacationLength" id="vacationLength"
                   placeholder="Количество календарных дней отпуска" value="<#if vocation??>${vocation.getVacationLength()}</#if>">
        </div>
        <div class="form-group col-md-4">
            <label for="startDate">Дата начала</label>
            <input type="date" class="form-control ${(startDateError??)?string('is-invalid', '')}"
                   name="startDate" id="startDate" value="<#if vocation??>${vocation.getStartDate()}</#if>">
            <#if startDateError??>
                <div class="invalid-feedback">
                    ${startDateError}
                </div>
            </#if>
        </div>
        <div class="form-group col-md-4">
            <label for="endDate">Дата окончания</label>
            <input type="date" class="form-control ${(endDateError??)?string('is-invalid', '')}"
                   name="endDate" id="endDate" value="<#if vocation??>${vocation.getEndDate()}</#if>">
            <#if endDateError??>
                <div class="invalid-feedback">
                    ${endDateError}
                </div>
            </#if>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="base">Основание</label>
            <input type="text" class="form-control" name="base" id="base" placeholder="Основание"
                   maxlength="50" value="<#if vocation??>${vocation.getBase()}</#if>">
        </div>
    </div>
    <input type="hidden" name="_csrf" value="${_csrf.token}" />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a class="btn btn-primary" href="/vocation?employeeId=${employeeId}" role="button">К списку отпусков</a>
    </div>
</form>
</@c.page>